* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

html, body{
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

#githublogo {
    position: absolute;
    right: 5%;
    bottom: 5%;
}
@font-face {
    font-family: "BeaufortBold";
    src: url(fonts/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf) format("truetype");
}
h1{
    font-family: "BeaufortBold";
}