.titre{
    font-size: xx-large;
    justify-content: space-around;
    display: flex;
}
.titre img, .hoverable{
    height: 1em;
}

.titre {
  padding: 0;
}

@media screen and (max-width: 700px) {
  .titre{
    font-size: 4vw;
  }
}

.hoverable {
    display: inline-block;
    position: relative;
    width: fit-content;
    vertical-align: sub;
  }
  
  .hoverable>.hoverable__tooltip {
    display: none;
  }
  
  .hoverable:hover>.hoverable__tooltip {
    display: inline;
    position: absolute;
    top: 1em;
    left: 1em;
    background: #888;
    border: 1px solid black;
    height: 10em;
  }

form {
  border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  background: rgba(2, 0, 0, 0.71);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50% ) translateY(-50%);
  flex-direction: column;
}

form * {
  color: white;
  padding-bottom: 10%;
}

form h1 {
  flex-basis: 100%;
  text-align: center;
  margin: 5%;
}

body {
  background-image: url(../static/images/ash.jpg);
}

#inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#inputs > input {
  flex-basis: 80%;
  margin-top: 5%;
  background-color: #333131;
  border-radius: 5px;
  height: 10%;
}

.buttonSign {
  justify-content: space-around;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 80%;
}