{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
{% endblock %}
{% block content %}
<h1>League Card Generator</h1>
<form action="" method="get" class="form-example">
    <div class="form-example">
      <label for="name">Pseudo :</label>
      <input type="text" name="pseudo" id="pseudo" maxlength="16" required />
    </div>
    <div class="form-example">
      <label for="tag">Indicatif :</label>
      <input type="text" name="tag" id="tag" maxlength="5" required />
    </div>
    <div class="form-example">
      <input type="submit" value="Generer" />
    </div>
  </form>
  
{% endblock %}