{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
{% endblock %}
{% block content %}
  <form action="{{ url_for('home') }}" method="post">
    <h1>League Card Generator</h1>
    <div>
      <label class = "titre" aria-hidden="true">
        <p>Entrez votre RiotID : </p>
        <div class="hoverable">
          <img class="hoverable__main" src={{ url_for('static', filename='images/i.png')}} alt="info">
          <img class="hoverable__tooltip" src={{ url_for('static', filename='images/help.png')}} alt="help">
        </div>
      </label>
      {{ form.hidden_tag() }}
      <div id="inputs">
        {{ form.pseudo(class_="form-control1", placeholder ="Pseudo", id="pseudo")}}
        {{ form.tag(class_="form-control1", placeholder ="Indicatif", id="tag")}}
        <button class="buttonSign">Génerer votre carte !</button>
      </div>
    </div>
  </form>
{% endblock %}